dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
lesson21/helloPerson
lesson21/roll
lesson21/pizza
lesson21/fib
lesson22/sum
lesson22/sum_lazy
lesson22/quotes
lesson22/simple_calc
lesson23/bg_highlight
lesson23/overloadedstrings
lesson23/hello_world
lesson23/sum_lazy
